#bg-overlay {
    width:100%; 
    height:100%;
    
    filter:alpha(opacity=60); 
    -moz-opacity:0.6; 
    -khtml-opacity: 0.6; 
    opacity: 0.6; 
    background:#000; 

    position:absolute; 
    top:0; left:0; 
    z-index:1500; 

    display: none;

    -webkit-animation-name: darktop;
    -webkit-animation-duration: 0.4s;
    animation-name: darktop;
    animation-duration: 0.4s    
}

@-webkit-keyframes darktop {
    from {opacity:0}
    to {opacity:0.6}
}

@keyframes darktop {
    from {opacity:0}
    to {opacity:0.6}
}

#edit-room-box, 
#view-request-box, 
#view-booked-box,
#edit-user-box,
#edit-admin-box,
#edit-room-type-box,
#view-user-box,
#view-admin-box,
#view-nf-box,
#edit-nf-box {
    /*padding: 15px;*/
    background:#FFFFFF;

    position:absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    z-index:1500;

    display: none;
    overflow: hidden;

    -webkit-animation-name: open;
    -webkit-animation-duration: 0.4s;
    animation-name: open;
    animation-duration: 0.4s    
}

@-webkit-keyframes open {
    from {top:25%; opacity:0}
    to {top: 50%; opacity:1}
}

@keyframes open {
    from {top:25%; opacity:0}
    to {top: 50%;; opacity:1}
}

#payment-box {
    background:#FFFFFF;

    position:absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    z-index:1500;

    display: none;
    overflow: hidden;

    -webkit-animation-name: open;
    -webkit-animation-duration: 0.4s;
    animation-name: open;
    animation-duration: 0.4s      
}

#map {
    width: 100%;
}

.block-center {
    display: flex !important;
    flex-wrap: wrap !important;
    align-items: center !important;
    justify-content: center !important;
}

.edit-room-content {
    margin-top: 20px;
    padding: 20px;
    background-color: white;
    box-shadow: rgb(136, 136, 136) 0px 2px 5px;    
    margin-left: 25%;
    width: 50%;
}

.dialog-content {
    overflow: auto;
    width: 100%;
    margin-top: 80px;
    margin-bottom: 60px; 
    background-color: rgb(241, 242, 242);       
}

.location-content {
    text-align:center;
}

.pac-container {
    z-index: 1500 !important;
}

#user-location {
    /*width: 100% !important;*/
}

.home-page {
    background-image:    url('/static/img/HomepageBG.jpg');
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
/*    content: "";
    overflow-y: auto;
    overflow-x: hidden;
    
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 64px;
    -webkit-filter: blur(1px);
    -moz-filter: blur(1px);
    -o-filter: blur(1px);
    -ms-filter: blur(1px);
    filter: blur(1px);
    position:absolute;*/
}

.content-size {
    height: 500px;
}

@media (max-width: 467px) {
    .table-hero {
        width: 100% !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
}

@media (max-width: 767px) {
    .title {
        font-size: 2em !important;
    }
    .inti-title {
        font-size: 16px !important;
    }
    .tlt {
        font-size: 1.5em !important;
    }
    .wrapper-margin {
        margin-left: 0px !important;
        -webkit-transition: margin-left 0.5s;
        -moz-transition: margin-left 0.5s;
        -khtml-transition: margin-left 0.5s;
        -o-transition: margin-left 0.5s;
        transition: margin-left 0.5s;
    }
    .footer-margin {
        margin-left: 0px !important;
        -webkit-transition: margin-left 0.5s;
        -moz-transition: margin-left 0.5s;
        -khtml-transition: margin-left 0.5s;        
        -o-transition: margin-left 0.5s;
        transition: margin-left 0.5s;        
    }
    .intiLogo {
        width: 96px !important;
        height: 32px !important;
    }
    .add-room-style, .add-user-style, .edit-user-style, .add-room-type-style {
        margin-left: 10% !important;
        margin-right: 10% !important;
        width: 80% !important;
    }
    .content-padding {
        margin: 0 10% 0 10% !important;
    }
    .room-list-style, 
    .request-list-style, 
    .booked-list-style, 
    .user-list-style, 
    .room-type-list-style,
    .room-status-list-style,
    .nf-list-style  {
        font-size: 12px !important;
    }
    .tableWrapperNap, 
    .tableWrapperPay, 
    .current-wrapper,
    .edit-form-wrapper {
        width: 70% !important;
        padding: 30px 15% 30px 15% !important;
    }

    .half-wrapper, .u-booked-left {
        width: 80% !important;
        padding: 30px 10% 30px 10% !important;
    }
    .edit-user-content, 
    .edit-rt-content, 
    .edit-admin-content,
    .edit-nf-content,
    .view-nf-content {
        width: 70% !important; 
    }
    .half-content {
        width: 90% !important;
    }
    td,th {
        font-size: 12px !important;
    }
    .view-content-card {
        width: 90% !important;
        margin-left: 5% !important;
        margin-right: 5% !important;
    }
    h1 {
        font-size: 14px !important;
    }
/*    .loading-screen {
        margin: 64px 0 0 0 !important;
    }
    .loadingPos {
        margin-left: 0;
    }*/
}

#user-menu {
    position: absolute;
}

.text-default {
    color: white !important;
}

.inti-title {
    font-size: 24px;
}

#card-wrapper {
    overflow-y: auto;
}

.wrapper-margin {
    -webkit-transition: margin-left 0.5s;
    -moz-transition: margin-left 0.5s;
    -khtml-transition: margin-left 0.5s;
    -o-transition: margin-left 0.5s;
    transition: margin-left 0.5s;
    
    margin-left: 250px;
}

#footer {
     
}

.footer-margin {
    margin-left: 100px;
    -webkit-transition: margin-left 0.5s;
    -moz-transition: margin-left 0.5s;
    -khtml-transition: margin-left 0.5s;
    -o-transition: margin-left 0.5s;
    transition: margin-left 0.5s; 
}

#home-card-hero {
    margin-left: 250px;
}

.verticalLine {
    border-left: thin inset #BDBDBD;
/*    padding: 10px 0 10px 0;*/
    margin: 0 2% 0 2%;   
}

.room-list-style, 
.booked-list-style, 
.request-list-style, 
.user-list-style,
.room-type-list-style,
.room-status-list-style,
.nf-list-style {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 15px;
    margin-bottom: 15px;
    /*background-color: #B3E5FC;*/
    /*border-radius: 10px;*/
    box-shadow: rgb(136, 136, 136) 0px 2px 5px;
    position: relative;
}
/*.room-list-style:nth-child(even) {background: #B0BEC5}
.room-list-style:nth-child(odd) {background: #B3E5FC}

.request-list-style:nth-child(even) {background: #B0BEC5}
.request-list-style:nth-child(odd) {background: #B3E5FC}

.booked-list-style:nth-child(even) {background: #B0BEC5}
.booked-list-style:nth-child(odd) {background: #B3E5FC}

.user-list-style:nth-child(even) {background: #B0BEC5}
.user-list-style:nth-child(odd) {background: #B3E5FC}

.room-type-list-style:nth-child(even) {background: #B0BEC5}
.room-type-list-style:nth-child(odd) {background: #B3E5FC}

.room-status-list-style:nth-child(even) {background: #B0BEC5}
.room-status-list-style:nth-child(odd) {background: #B3E5FC}*/

#pagination-container{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

#search-box {
   width: 100%;
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  background-color: #F5F5F5;
  background-image: url(/static/img/ic_search_black_24dp_1x.png);
  background-repeat: no-repeat;
  background-position: left 10px center;
/*  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;*/
  box-shadow: rgb(136, 136, 136) 0px 2px 5px;
}

#search-box:focus {
    background-color: white;
}

.removeRoomButton, 
.removeRequestButton, 
.removeBookedButton,
.removeUserButton,
.removeRoomTypeButton,
.removeAdminButton,
.removeNfButton {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;    
    outline: none;
    border: none;
    border-radius: 2px;  
    background-color: #FF8A80; 
    padding: 5px;
    color: black;
    cursor: pointer;
    margin-left: 5px;
}
.removeRoomButton:hover, 
.removeRequestButton:hover, 
.removeBookedButton:hover,
.removeUserButton:hover,
.removeRoomTypeButton:hover,
.removeAdminButton:hover,
.removeNfButton:hover {
    background-color: #B71C1C;
    color: white;
}

.editRoomButton, 
.viewRequestButton, 
.viewBookedButton,
.editUserButton,
.editRoomTypeButton,
.viewUserButton,
.editAdminButton,
.viewAdminButton,
.editNfButton,
.viewNfButton {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;    
    outline: none;
    border: none;
    border-radius: 2px;  
    background-color: #82B1FF; 
    padding: 5px;
    color: black;
    cursor: pointer;
    margin-left: 5px;
}

.editRoomButton:hover, 
.viewRequestButton:hover, 
.viewBookedButton:hover,
.editUserButton:hover,
.editRoomTypeButton:hover,
.viewUserButton:hover,
.editAdminButton:hover,
.viewAdminButton:hover,
.editNfButton:hover,
.viewNfButton:hover {
    background-color: #1A237E;
    color: white;
}

.approveRequestButton, .paymentButton {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;    
    outline: none;
    border: none;
    border-radius: 2px;  
    background-color: #69F0AE; 
    padding: 5px;
    color: black;
    cursor: pointer;
    margin-left: 5px;
}

.approveRequestButton:hover, .paymentButton:hover {
    background-color: #43A047;
    color: white; 
}

.deniedRequestButton, .cancelRequestButton {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;    
    outline: none;
    border: none;
    border-radius: 2px;  
    background-color: #BDBDBD; 
    padding: 5px;
    color: black;
    cursor: pointer;
    margin-left: 5px;
}

.deniedRequestButton:hover, .cancelRequestButton:hover {
    background-color: #424242;
    color: white; 
}

.paraStyle {
    margin: 0 5px 0 15px;
}

.imgRound {
    border-radius: 200px 200px 200px 200px;
    -moz-border-radius: 200px 200px 200px 200px;
    -webkit-border-radius: 200px 200px 200px 200px;

}

/*.user-list-style:nth-child(odd) > .imgRound {
    -webkit-box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.55);
    -moz-box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.55);
    box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.55);
}

.user-list-style:nth-child(even) > .imgRound {
    -webkit-box-shadow: 0px 0px 8px 2px rgba(255,255,0,0.55);
    -moz-box-shadow: 0px 0px 8px 2px rgba(255,255,0,0.55);
    box-shadow: 0px 0px 8px 2px rgba(255,255,0,0.55);
}*/

.iconRound {
    -webkit-box-shadow: rgb(136, 136, 136) 0px 2px 5px;
    -moz-box-shadow: rgb(136, 136, 136) 0px 2px 5px;
    box-shadow: rgb(136, 136, 136) 0px 2px 5px;  
}

/*.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}*/
.clearfix {
    clear: both;
}
/*.clearfix {
    display: block;
}*/

.iti-flag {
    background-image: url("/static/img/flags.png");
}

#user-contact-no, 
#edit-user-contact-no,
#admin-contact-no, 
#edit-admin-contact-no {
    width: 100%;
    font-size: 18px;
    border-left: none;
    border-top: none;
    border-right: none;
    outline: none;
}

#user-contact-no:focus, 
#edit-user-contact-no:focusm
#admin-contact-no:focus, 
#edit-admin-contact-no:focus {
    border-bottom-color: green; 
}

.content-padding {
    margin: 0 25% 0 25%;
    padding-bottom: 25px;  
}

.intl-tel-input.iti-container {
    z-index: 1500 !important;
}

.form-paragraph {
    background-color: black;
    color: white;
    padding: 5px;
}

.swal2-container {
    z-index: 1501 !important;
}

.rightAlignment {
    position: absolute;
    right: 0;
    margin: 0 15px 0 5px;
}

.left-drawer-scrollbar {
    overflow-x: hidden !important;
}

.google-color {
    color: #d34836 !important;
}

.blackify {
    color: black !important;
}

.dialog-header {
  border-bottom: 1px solid #a4a4a6;    
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 999;
  width: 100%;
  /*padding-top: 79.88px;*/
  height: 80px;
}

.dialog-footer {
  border-top: 1px solid #a4a4a6;
  position: fixed;
  bottom: 0;
  left: 0;
  /*z-index: 999;*/
  width: 100%;
  height: 60px;
  background-color: white;
}

.table-hero {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.centerTable { 
    width: 100%;
    margin: 0px auto;
}

.view-content-card {
    width: 50%;
    padding: 20px;
    margin: 20px 25% 20px 25%;
}

.tableWrapperPay {
    width: 55%;
    padding: 20px;
    background-color: white;
    float: left;
}

.tableWrapperNap {
    width: 30%;
    background-color: white;    
    /*padding: 20px 30% 0 30%;*/
    margin: 10px;
    padding: 20px;
    box-shadow: rgb(136, 136, 136) 0px 2px 5px;
    float: left;
}
.tableBody {
    width: 100%;
}

.edit-form-wrapper {
    width: 55%;
    padding: 20px;
    background-color: white;
    float: left;
}

.current-wrapper {
    width: 30%;
    background-color: white;    
    /*padding: 20px 30% 0 30%;*/
    margin: 10px;
    padding: 20px;
    box-shadow: rgb(136, 136, 136) 0px 2px 5px;
    float: left;
}

.u-booked-left {
    width: 35%;
    background-color: white;    
    margin: 10px;
    padding: 20px;
    box-shadow: rgb(136, 136, 136) 0px 2px 5px;
    float: left;
}

.half-wrapper {
    width: 45%;
    background-color: white;
    margin: 10px;
    padding: 20px;
    box-shadow: rgb(136, 136, 136) 0px 2px 5px;
    float: left;    
}

.kp-wrapper {
    width: 40%;
    background-color: white;
    margin: 10px;
    padding: 20px;
    box-shadow: rgb(136, 136, 136) 0px 2px 5px;
    float: left;
}

table {
   border-collapse: collapse;
}

.tableWrapperNap tr:hover {
    background-color: #f5f5f5;
    cursor: default;
}

td,th {
    font-size: 20px;
    padding: 5px 0 5px 0;
}

table, td, th {

}

.edit-user-content, 
.edit-rt-content, 
.edit-admin-content,
.edit-nf-content,
.view-nf-content {
    padding: 20px;
    background-color: white;
    box-shadow: rgb(136, 136, 136) 0px 2px 5px;    
    margin: 20px 0 20px 0;
    width: 50%;
}

.half-content {
    width: 47.5%;
    float: left;
    margin: 10px;
    padding: 20px;
}

.two-tb {
    width: 50%;
}

.two-wrapper {
    padding: 20px;
    margin: 10px;
}

#booked-content {
    padding: 20px 0 20px 0;
}
